.minNavContainer
{
  height: 40px;
  width: 100%;
  background-color: #342b78;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 400;
  font-size: 13px;
}
.navContainer
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0px;
}
.navItemBox ul li
{
    list-style-type: none;
    margin-left: 10px;
    text-transform: capitalize ;
    display: inline;
}
.navContainer .image-box
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navContainer .image-box img
{
    height: 40px;
}
.navcontainer
{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navItemBox button
{
    margin-left: 10px;
    text-transform: capitalize;
    display: inline;
}

.navItemBox i
{
    display: none;
}

@media (max-width: 991px) {
    .navContainer .image-box img
    {
        height: 30px;
    }
    .navContainer
    {
        justify-content: space-between;
    }
    .navItemBox i
    {
        display: block;
        display: inline;
        margin-right: 50px;
        font-size: 2vmax;
    }
    .navItemBox ul li
    {
        display: none;
    }
    .navItemBox button
    {
        font-size: 1vmax;
    }
}

@media (max-width: 382px) {

    .navContainer .image-box img
    {
        height: 30px;
    }
    .navItemBox i
    {
        margin: 0px 30px 0px 0px;
        font-size: 2.5vmax;
    }
    
}